<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Dhurjati&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="static\signin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>SIGNIN</title>
</head>
<body>
    <div class="background">
        <h1>WELCOME TO INVETORY TRACKER!!</h1>
    </div>
    <div class="content">
        <div class="sigin_frm">
            <form id="user" action="/signin" method="post">
                <section class="entries">
                    <div id = "name"><div id="icon_usr"><i class="fa-regular fa-user"></i></div><div><input id="name_btn" type="text" autofocus autocomplete="off" name="username" placeholder="Create Username" required></span></div></div>
                    <div id = "pass"><div id="icon_pass"><i class="fa-solid fa-lock"></i></div> <input id="pass_btn" type="password" name="password" placeholder="Create Password" required></div>
                    <div><input type="submit" value="SIGNIN" id ="signin_btn"></div>
                </section>
            </form>
        </div>
        <div class="use">
            <div id="use_head"><h1>LEND AND BORROW ITEMS WITH EASE.</h1></div>
            <div><p>some text... 〜(￣▽￣〜)</p></div>
        </div>
    </div>   
</body>
</html>